.auth__main {
  background-color: $primary;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__container {
  background-color: white;
  width: 250px;
  padding: 20px;
  box-shadow: 0 3px $dark-grey;
  border-radius: 2px;
}