.journal__sidebar {
  color: $white;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  width: 450px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: lighter;
  }
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: scroll;
}

.journal__entry {
  background-color: $white;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  overflow: hidden;

  &-picture {
    height: 75px;
    width: 75px;
  }

  &-body {
    padding: 10px;

    &--title {
      font-size: 14px;
      font-weight: bold;
    }

    &--content {
      font-size: 10px;
    }
  }

  &-date {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    span {
      font-size: 12px;
    }
  }
}
